<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.5b1</string>
	<key>CFBundleIdentifier</key>
	<string>id.web.fajran.tuio</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/x-tuio</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Tuio Client browser plugin</string>
		</dict>
	</dict>
	<key>WebPluginDescription</key>
	<string>Tuio Client browser plugin</string>
	<key>WebPluginName</key>
	<string>Tuio Client</string>
</dict>
</plist>
